---
- name: Get Kube Bench Results
  hosts: '*'
  tasks:
  - name: Run kube-bench
    become: true
    ansible.builtin.command: kube-bench --json --exit-code=1
    register: benchmarks
    changed_when: false
