---
- name: Get Kube Bench Results
  hosts:
  - nodes
  tasks:
  - name: Run kube-bench
    become: true
    ansible.builtin.command: kube-bench --json --outputfile=/tmp/kube-bench-report.json
    register: benchmarks
    changed_when: false

  - name: Copy kube-bench-report
    ansible.builtin.fetch:
      src: /tmp/kube-bench-report.json
      dest: ~/kube-bench/
      mode: 0600
