---
- name: Provision Cluster
  hosts: hypervisor
  become: true
  tasks:
  - name: Install Base Packages
    package:
      update_cache: yes
      name:
      - apt-transport-https
      - ca-certificates
      - curl
      state: latest
  - name: Add Kube Repo Key
    apt_key:
      url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
      keyring: /usr/share/keyrings/kubernetes-archive-keyring.gpg
      state: present
  - name: Add Kube Repo
    apt_repository:
      repo: 'deb  [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main'
      state: present
  - name: Install Kubernetes Binaries
    package:
      update_cache: yes
      name:
      - kubelet
      - kubeadm
      - kubectl
      state: latest
  - name: Initialize 
