---
- name: Provision Cluster
  hosts: hypervisor
  become: true
  tasks:
  - name: Get username
    shell: whoami
    register: username
    changed_when: false
    become: false
  - name: Install Base Packages
    package:
      update_cache: yes
      name:
      - apt-transport-https
      - ca-certificates
      - curl
      - runc
      - containerd
      - bridge-utils
      state: latest
  - name: Enable bridge net filter
    community.general.modprobe:
      name: br_netfilter
      state: present
  - name: Setup Ipv4 Forwarding
    sysctl:
      name: net.bridge.bridge-nf-call-iptables
      value: 1
      state: present
  - name: Setup Ipv6 Forwarding
    sysctl:
      name: net.bridge.bridge-nf-call-ip6tables
      value: 1
      state: present
  - name: Disable SWAP
    shell: |
      swapoff -a
  - name: Disable Mounting SWAP
    replace:
      path: /etc/fstab
      regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
      replace: '# \1'
  - name: Add Kube Repo Key
    apt_key:
      url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
      keyring: /usr/share/keyrings/kubernetes-archive-keyring.gpg
      state: present
  - name: Add Kube Repo
    apt_repository:
      repo: 'deb  [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main'
      state: present
  - name: Install Kubernetes Binaries
    package:
      update_cache: yes
      name:
      - kubelet
      - kubeadm
      - kubectl
      state: latest
  - name: Check if cluster already exists
    stat:
      path: /etc/kubernetes/admin.conf
    register: k8s_cluster_init
  - name: Initialize Kubernetes Cluster
    shell: kubeadm init --cri-socket /run/containerd/containerd.sock --pod-network-cidr=192.168.0.0/16
    when: (not k8s_cluster_init.stat.exists)
  - name: Create .kube directory
    file:
      path: /home/{{ username.stdout }}/.kube
      state: directory
  - name: Copy Cluster Configuration
    copy:
      remote_src: true
      src: /etc/kubernetes/admin.conf
      dest: /home/{{ username.stdout }}/.kube/config
      owner: "{{ username.stdout }}"
      group: "{{ username.stdout }}"
      mode: 0644
  # TODO: version the calico install appropriately, use ansible modules
  - name: Install Calico Tigera Operator
    become: false
    shell: kubectl apply -f https://projectcalico.docs.tigera.io/manifests/tigera-operator.yaml
  - name: Install Calico CRDS
    become: false
    shell: kubectl apply -f https://projectcalico.docs.tigera.io/manifests/custom-resources.yaml
