name: K8s Hardening Workflow
on:
  push:
jobs:
  lint:
    name: 'Lint'
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v2
    - run: |
        make install-plugins
        make lint
  kubeadm-multi-node:
    name: 'Kubeadm Multi Node'
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v2
    - name: 'Install Ansible Plugins'
      run: make install-plugins
    - name: 'Create nodes'
      run: make nodes
  kubeadm-single-node:
    name: 'Kubeadm Single Node'
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v2
    - name: 'Install Ansible Plugins'
      timeout-minutes: 2
      run: make install-plugins
    # verify the ansible connection
    - name: 'Get Hostname'
      timeout-minutes: 2
      run: make hostname-check
    # Provision single node cluster with kubeadm
    - name: 'Provision Cluster'
      timeout-minutes: 10
      run: make cluster
    - name: 'Install and configure GVisor'
      timeout-minutes: 10
      run: make gvisor
    - name: 'Install and configure falco'
      timeout-minutes: 10
      run: make falco
    # harden the security policy of the cluster
    - name: 'Fix Kube-Bench Findings'
      timeout-minutes: 15
      run: make cis-compliant
    # - name: 'Enable audit logging'
    #   run: make audit-logging
    # - name: 'Install and configure Falco'
    #   run: make falco
    # - name: 'Install and configure SysDig'
    #   run: make sysdig
    # - name: 'Install and configure AppArmor'
    #   run: make apparmor
    # - name: 'Install and configure Gatekeeper'
    #   run: make gatekeeper
    # - name: 'STIG it'
    #   run: make stig
    - name: 'Upload Kube-Bench Report'
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: kube-bench-reports
        path: ~/kube-bench/
        if-no-files-found: error
    - name: 'Upload Initial Configuration'
      uses: actions/upload-artifact@v3
      if: always()
      with:
        name: initial-config
        path: ~/initial-config/
        if-no-files-found: error
