name: K8s Hardening Workflow
on:
  push:
jobs:
  lint:
    name: 'Lint'
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v2
    - run: |
        make install-plugins
        make lint
  kubeadm-single-node:
    name: 'Kubeadm Single Node'
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v2
    - name: 'Install Ansible Plugins'
      run: make install-plugins
    # verify the ansible connection
    - name: 'Get Hostname'
      run: make hostname-check
    # Provision single node cluster with kubeadm
    - name: 'Provision Cluster'
      run: make cluster
    # harden the security policy of the cluster
    - name: 'Fix Kube-Bench Findings'
      run: make cis-compliant
    # - name: 'Enable audit logging'
    #   run: make audit-logging
    # - name: 'Install and configure Falco'
    #   run: make falco
    # - name: 'Install and configure SysDig'
    #   run: make sysdig
    # - name: 'Install and configure AppArmor'
    #   run: make apparmor
    # - name: 'Install and configure GVisor'
    #   run: make gvisor
    # - name: 'Install and configure Gatekeeper'
    #   run: make gatekeeper
    # - name: 'STIG it'
    #   run: make stig